@{
    ViewData["Title"] = "Dashboard";
}

<div class="category-content dashboard">
    <div class="category-title">@ViewData["Title"]</div>
    <div class="view-page">

        <a href="#" class="service">
            <span class="title">Audiences</span>
            <span class="description">Page with a list of audiences and filters</span>
        </a>
        <a href="#" class="service">
            <span class="title">Favorites</span>
            <span class="description">Your favorite services, audiences, etc.</span>
        </a>
        <a href="#" class="service">
            <span class="title">Manager panel</span>
            <span class="description">Manager panel for management</span>
        </a>
        <a href="#" class="service">
            <span class="title">Profile</span>
            <span class="description">Your profile settings and other profile details</span>
        </a>
        <a href="#" class="service">
            <span class="title">Administrative panel</span>
            <span class="description">Service management</span>
        </a>

    </div>
</div>